server:
  port: 9527 # 这个端口要和vue项目里vue.config.js里的devServer里面配置的相同
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 210611
    url: jdbc:mysql://119.3.229.10:3306/exam?characterEncoding=utf-8&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Shanghai
  jpa:
    # 调试的时候用，用于打印完成SQL语句(但是不打印参数),联合下面的logging.level一同打印最完整的SQL信息(语句+参数)
    show-sql: false
    hibernate:
      ddl-auto: update
  servlet:
    multipart:
      max-file-size: 100MB # 最大支持文件大小
      max-request-size: 100MB # 最大支持请求大小
chatgpt:
  api:
    key: sk-0UZrJtR4Ey5tGQzP7dF1775eA55442CcA2B5B156361eDd9c
# 拦截器相关的配置
interceptors:
  # 不需要进行鉴权的接口地址，用逗号隔开
  auth-ignore-uris: /api/user/register,/api/user/login,/api/chat,/api/user

# SQL语句打印(能打印参数，设置为trace是打印完整语句，默认我们就关掉吧)
logging:
  level:
    org.hibernate.type.descriptor.sql.BasicBinder: on

spring.mail.host: smtp.qq.com

spring.mail.username: 1423562528@qq.com

spring.mail.port: 587

spring.mail.password: xbdlfjqlklbxhejg

spring.mail.properties.mail.smtp.auth: true

spring.mail.properties.mail.smtp.starttls.enable: true

spring.mail.properties.mail.smtp.starttls.required: true

